**/try.py
**/__pycache__/
imgui.ini
*.bak
**/example_linearSystem.yml
*.bak.py
**/figures.pptx

### ignore the massive number of result png files, but remain the figure of Mises stress
tests/*/**/*.png 
!tests/*/**/MisesStress_*.png

### some intermediate output files of Abaqus
**/*.sim
**/*.com
**/*.log
**/*.dat
**/*.prt
**/*.msg
**/*.cae
**/abaqus.rpy*