**/try.py
**/__pycache__/
imgui.ini
*.bak
**/example_linearSystem.yml
*.bak.py
**/figures.pptx

# some intermediate output files of Abaqus
**/*.sim
**/*.com
**/*.log
**/*.dat
**/*.prt
**/*.msg
**/*.cae
**/abaqus.rpy*